.*.sw?
_.sw?
*~
._d
.bcdi
doc/*/figure
doc/*/html
doc/*/latex
*.cmi
*.cmo
*.aux
*.dvi
*.log
*.byte
*.annot
*.bbl
*.dot
*.out
*.exe
*.depend
*.dependlist
*.auxdigest
_build/
.paths
.settings
.project
quickCheck.ml
*.pdf
*.ps
*.xbb
*.lof
*.lol
*.lot
*.toc
*.eps
*.bblannot
*.blg
